#livechat{
    display:none;
    position:fixed;
    top:0px;
    width:100%;
    height: 100%;
    overflow: auto;
}
.chat_start{
    position: fixed;
    bottom: 1px;
    right: 10px;
    background-color: #cd214f;
    padding: 8px 10px 7px 15px;
    width: 240px;
    text-align: left;
    border: 2px solid grey;
    color: white;
    font-size: 17px;
}
.chat-control-btn{
    width: 506px;
    height: 22px;
    position: absolute;
    right: 16px;
    text-align: right;
    background-color: #1975fd;
    color: white;
    display: none;
    border: 1px solid grey;
    border-bottom: 0px;
}
.chat-container{
    float: right;
    width: 505px;
    height: 97%;
    visibility: visible;
    margin-top: 20px;
    margin-right: 15px;
}
.close-btn{
    padding-right: 5px;
    cursor: pointer;
}
.chat-img{
    width:35px;
    height:35px;
    position:absolute;
    bottom:3px;
}